{{ form_start(form) }}
<div style='text-align:center;width:60%;margin-left: 20%;'>
    {{ form_widget(form) }}
    <div style='border:1px solid black; border-radius:4em;width:15%;background-color:black;margin-left:43%'>
        <button class="btn" style='text-align:center; color:green;'>{{ button_label|default('Save') }}</button>
    </div>
    {{ form_end(form) }}
</div>