{% extends 'base.html.twig' %}

{% block title %}Edit Questions{% endblock %}

{% block body %}
<div class="container">
    <h1 style='margin-left:20%'>Modifier la question</h1>
    {{ include('questions/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('questions_index') }}" style='margin-left:20%'>Revenir en arrière</a>
</div>
{% endblock %}
