{% extends 'base.html.twig' %}

{% block title %}New Responses{% endblock %}

{% block body %}
    <h1>Create new Responses</h1>

    {{ include('responses/_form.html.twig') }}

    <a href="{{ path('responses_index') }}">back to list</a>
{% endblock %}
